<div class="well">
  
  <app-input-autocomplete [inputName]="'country'" [label]="'Country name'" [options$]="countriesOptions$"></app-input-autocomplete>
  <br>
  
  <label for="zipcode">Enter a zipcode :</label>
  <input id="zipcode" type="text" #zipcode placeholder="Zipcode" class="form-control">
  <br>

  <app-state-button [clickAction]="addLocation.bind(this)" [initialTemplate]="initial" [workingTemplate]="adding"
    [doneTemplate]="done"></app-state-button>

</div>

<!-- buttons states -->
<ng-template #initial>
  <button class="btn btn-primary">Add Location</button>
</ng-template>

<ng-template #adding>
  <button class="btn btn-primary" disabled>Adding...</button>
</ng-template>

<ng-template #done>
  <button class="btn btn-success" disabled>✅ Done</button>
</ng-template>