<div class="well">
  <h2>Enter a zipcode:</h2>
  <input type="text" #zipcode placeholder="Zipcode" class="form-control">
  <br>
  <app-state-button [clickAction]="addLocation.bind(this)" [initialTemplate]="initial" [workingTemplate]="adding"
    [doneTemplate]="done"></app-state-button>

</div>

<!-- buttons states -->
<ng-template #initial>
  <button class="btn btn-primary">Add Location</button>
</ng-template>

<ng-template #adding>
  <button class="btn btn-primary" disabled>Adding...</button>
</ng-template>

<ng-template #done>
  <button class="btn btn-success" disabled>✅ Done</button>
</ng-template>